body {
 font-family: 'Lato', sans-serif;
 font-weight: light;
 background-color: white;	
 color: black;
 margin: auto;
}

.body {
	background-color: black;
	color: white;
}

#light {
	border: none;
	margin-left: 2px;
	background: none;
	color: white;
	font-size: 25px;
	border-radius: 10px;
	outline: none;
	position: absolute;
}

.btn {
    border: solid 1px grey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.btn:hover {
	background-color: grey;
}

#time {
  font-size: 5em;
  margin: 50px;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
}

kbd {
	border: solid 1px grey;
	background-color: grey;
	padding: 2px;
	border-radius: 3px;
}

.container {
  margin: auto;
  text-align: center;
}

p {
  margin-top: 10px;
}

img {
  width: 200px;
}

#settings {
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
	position: fixed;
	z-index: 1;
	font-size: 24;
	color: white;
	background-color: black;
	left: 350;
	width: 674;
}

#gear {
	font-size: 25px;
	margin-left: 35px;
	background: none;
	border: none;
	color: white;
	outline: none;
}

.close {
	outline: none;
	color: white;
	border: none;
	background: none;
	font-size: 20px;
	margin: 10px;
}

h3 {
	margin: 0;
	margin-top: 10px;
}

@media screen and (max-width:420px) {
  img {width:35%}
  #time {font-size: 2.8em;}
  h1{font-size: 2.5em;}
 .btn{padding: 10px 21.33333px;}
}

.times {
	width: 250px;
	height: 250px;
	border: 1px solid;
	border-radius: 10px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	left: 555px;
}

.times p {
	float: left;
	padding:10px;
	margin: 0;
}